
body {
    background: url('../hidden-grove-mystery/assets/MazeWallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Metamorphous', serif;
    text-align: center;
    position: relative;
}
.menuInicial {
    color: white;
    text-shadow: 1px 1px 1px black;
    border-color: black;
    border: 50px;
}

.game-title h1 {
    font-size: 3rem;
    color: #4b8b3b; 
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    padding: 20px;
}

.Instructions {
    color: #a23331;
    text-shadow: 2px 2px 2px  black;
    font-size: 75px;
    margin-top: 75px;

}

.textoD {
    font-size: 35px;
    text-shadow: 2px 2px 2px rgb(102, 97, 97);
    margin-top: 30px
}

#start {
width: 100px;
height: 50px;
margin : 50px;;
}

#maze-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    background-color: rgba(5, 43, 3, 0.58);
    border: 2px solid black;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    
}


.wall {
    background-color: #101d1d; 
   
}

.player {
    background-color: #ff4400; 
    border-color: black;
    border: 2px solid black;
}

.exit {
    background-color: #05ff05; 
    border: 2px solid black;
}

.water {
    background-color: #a6a86c8f; 
    border-top: ;
}

/* Game Over screen */
#game-over-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 50px;
    color: #ff4500;
}

#game-over-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
}
 #restart-message{
    color: white;
 }

.controls{
    margin-top: 20px;
}


.controls button {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
.controls button#up {
    margin-bottom: 5px;
}
.controls button:active{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}