
body {
    background: url('../hidden-grove-mystery/assets/MazeWallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Metamorphous', serif;
    color: white;
    text-align: center;
    position: relative
}


.game-title h1 {
    font-size: 3rem;
    color: #4b8b3b; 
    text-shadow: 3px 3px 5px black;
    padding: 20px;
}



#maze-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}


.wall {
    background-color: #3e3306; 
}

.player {
    background-color: #ff4400; 
}

.exit {
    background-color: #05ff05; 
}

.water {
    background-color: rgba(35, 35, 221, 0.402); 
}

/* Game Over screen */
#game-over-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 50px;
    color: #ff4500;
}

#game-over-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.controls button {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
.controls button#up {
    margin-bottom: 5px;
}
.controls button:active{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}